ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#navbar {
    float: left;
}

.navbar li {
    display: inline;
    padding: 8px;
}

#navbar_login {
    float: right;
}

.google #logo {
    display: block;
    margin: auto;
    clear: both;
    padding-top: 100px;
    padding-bottom: 50px;
}

.text_center {
    text-align: center;
}

#search_box {
    height: 30px;
    width: 400px;
    border-radius: 25px;
}

.button_padding {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 400px;
}

.button {
    border-radius: 16px;
    font-weight: 400px;
    line-height: 1.5;
    border-color: aliceblue;
    color: rgb(10, 10, 10);
    background-color: rgb(255, 255, 255);
}

.button:hover {
    border-color: black;
}

#footbar li {
    display: inline;
    padding: 8px;
}

.footer {
    padding-top: 100px;
}