ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#navbar {
    float: left;
}

#navbar li {
    display: inline;
    padding: 8px;
}

.google #logo {
    text-align: center;
    display: block;
    margin: auto;
    clear: both;
    padding-top: 100px;
    padding-bottom: 50px;
}

.search_bar {
    text-align: center;
}

#search_box {
    width: 400px;
    height: 15px;
}

.button {
    text-align: center;
    display: block;
    margin: auto;
}

#footbar li {
    display: inline;
    padding: 8px;
}

.footer {
    padding-top: 100px;
}