ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#navbar {
    float: left;
}

.navbar li {
    display: inline;
    padding: 8px;
}

#navbar_login {
    float: right;
}

.google #logo {
    display: block;
    margin: auto;
    clear: both;
    padding-top: 100px;
    padding-bottom: 50px;
}

.text_center {
    text-align: center;
}

#search_box {
    width: 400px;
}

.button {
    padding-top: 30px;
    padding-bottom: 400px;
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
}

#footbar li {
    display: inline;
    padding: 8px;
}

.footer {
    padding-top: 100px;
}